<a href="https://colab.research.google.com/github/joodw1/ML_Labs/blob/main/lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import libraries
import pandas as pd

# Load the dataset
df = pd.read_csv("passwords_dataset.csv")

# Display first 5 rows
df.head()

,Password,Has Lowercase,Has Uppercase,Has Special Character,Length,Strength
0,<%r?.,True,False,True,5,Weak
1,l(d_l,True,False,True,5,Weak
2,"|+Z)kDTRYo:q{""(",True,True,True,15,Strong
3,gwcNB[oS5!n%OPJ,True,True,True,15,Strong
4,^vXjCCP6,True,True,True,8,Strong

In [2]:
# Display basic information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Password               10000 non-null  object
 1   Has Lowercase          10000 non-null  bool
 2   Has Uppercase          10000 non-null  bool
 3   Has Special Character  10000 non-null  bool
 4   Length                 10000 non-null  int64
 5   Strength               10000 non-null  object
dtypes: bool(3), int64(1), object(2)
memory usage: 263.8+ KB

In [3]:
# Display dataset shape (rows, columns)
df.shape

(10000, 6)

In [4]:
# Check for missing values
df.isnull().sum()

Password                 0
Has Lowercase            0
Has Uppercase            0
Has Special Character    0
Length                   0
Strength                 0
dtype: int64

In [5]:
# Display basic statistics (numerical columns)
df.describe()

             Length
count  10000.000000
mean       9.420600
std        4.015259
min        3.000000
25%        6.000000
50%        9.000000
75%       13.000000
max       16.000000